@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');
*{
  box-sizing: border-box;
  font-family: 'Lato',sans-serif;
}
body{
  margin: 0;
  overflow: hidden;
}
section{
  height: 100vh;
  width: 100%;
}
.banner{
  height: 15vh;
  width: 100%;
  background-color: #56b6a8;
  display: grid;
  grid-template-rows:100%;
  grid-template-columns: 40% 60%
}
.banner .logo{
  height: 100%;
}
.banner .logo img{
  height: 100%
}
.banner .menu{
  height: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
  align-items: center;
  text-align: center;
}
.banner .menu a{
  text-decoration: none;
  color: #1D8A7B;
  font-size: 1.5em;
  font-family: sans-serif;
}
.banner .menu a:hover{
  color: #b2ece4
}
.banner .menu .active{
  color:white;
}
.banner .menu .active a:hover{
  color: white
}
nav{
  display: none
}
#menuToggle{
  display: block;
  position: absolute;
  z-index: 1;
  height: fit-content;
  width: fit-content;
  margin: auto;
  right: 0;
  margin-right: 5%;
  top: 6.25vh;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle input{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #007068;
}
#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}
#menu{
  position: absolute;
  visibility: hidden;
  border: 1px solid #56b6a8;
  width: 50vmin;
  padding: 5vw;
  right: 0;
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: all 0.7s ease-out;
}
#menu li{
  padding: 10px 0;
  font-size: 22px;
}
#menu .active{
  text-decoration: underline;
}
#menuToggle input:checked ~ ul{
  transform: none;
  visibility: visible;
}
#menu a{
  text-decoration: none;
  color: #56b6a8;
  font-family: sans-serif;
}
#menu a:focus{
  color: #1D8A7B
}
.content{
  height: 85vh;
  width: 100%;
  background-color: #56b6a8
}
#slider{
  width: 100%;
  height: 100%;
}
.imgslide{
  position: absolute;
  width: 100%;
  height: 85vh;
}
.slider-text{
  height: fit-content;
  width: fit-content;
  padding: 1.5em;
  font-size: 3em;
  font-family: sans-serif;
  color:white;
  position: absolute;
  margin: auto;
  text-align: center;
}
.slider-text a{
  color: inherit;
  text-decoration: none;
  font-size: 0.5em;
  padding: 0.5em;
  border: 2px solid white;
  border-radius: 1em;
  width: fit-content;
  height: fit-content
}
.slider-text a:hover{
  box-shadow: 0px 0px 10px 0px white
}
.imgslide:nth-of-type(1){
  background-color: #21A097;
}
.imgslide:nth-of-type(1) .slider-text{
  right: 0;
  top:0;
  bottom: 0
}
.imgslide:nth-of-type(1) .slider-text a{
background-color: #007068
}
.imgslide:nth-of-type(1) .slider-text a:hover{
border-color: #007068;
}
.imgslide:nth-of-type(2){
  background-color: #22BFAC
}
.imgslide:nth-of-type(2) .slider-text{
  left: 0;
  bottom: 0;
  top:0
}
.imgslide:nth-of-type(2) .slider-text a{
background-color: #008375
}
.imgslide:nth-of-type(2) .slider-text a:hover{
border-color: #008375;
}
.imgslide:nth-of-type(3){
  background-color: #26CDB1
}
.imgslide:nth-of-type(3) .slider-text{
  right: 0;
  left: 0;
  bottom: 0
}
.imgslide:nth-of-type(3) .slider-text a{
background-color: #009179
}
.imgslide:nth-of-type(3) .slider-text a:hover{
border-color: #009179;
}
.imgslide:nth-of-type(4){
  background-color: #25DAAB;
  background-image: url("https://cdn.pixabay.com/photo/2018/03/05/18/29/flat-3201426_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.imgslide:nth-of-type(4) .slider-text{
  right: 0;
  bottom: 0
}
.imgslide:nth-of-type(4) .slider-text a{
background-color: #009f77
}
.imgslide:nth-of-type(4) .slider-text a:hover{
border-color: #009f77;
}
.imgslide:nth-of-type(5){
  background-color: #56B6A8;
}
.imgslide:nth-of-type(5) .slider-text{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.imgslide:nth-of-type(5) .slider-text a{
background-color: #1D8A7B
}
.imgslide:nth-of-type(5) .slider-text a:hover{
border-color: #1D8A7B;
}
#slider button{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 3em;
  padding: 0.5em;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: fit-content
}
#slider button:nth-of-type(1){
  left: 0
}
#slider button:nth-of-type(2){
  right: 0
}
@media screen and (max-width:660px) {
  .menu{
    display: none!important
  }
  nav{
    display: block
  }
  .slider-text{
    right: 0;
    top:0;
    bottom: 0;
    left: 0
  }
  .imgslide:nth-of-type(4) .slider-text{
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
  }
}
/*How It Works Page*/
.content h1{
  width: 100%;
  padding-top: 25px;
  top: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  color: white
}
.hiw{
  display: grid;
  height: 90%;
  padding: 5%;
  align-items: center;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 3%;
}
.hiw h2{
  color: #FDA51D
}
/* Services Page*/
.boxes{
  width: 100%;
  height: 100%;
  position: relative;
}
.box-small{
  width: 50%;
  height: 50%;
  transition: all 500ms;
  position: absolute;
  cursor: pointer;
}
.box-small:hover{
  box-shadow: 0px 0px 30px 3px black;
  z-index: 2
}
.box-content .close{
  position: absolute;
  font-size: 1em;
  color: black;
  top: 0;
  right: 0;
  padding: 0.5% 1%;
  cursor: pointer;
  z-index: 5
}
.box-content .close:hover{
  color: white;
  background-color: #56b6a8;
}
.box-text{
  font-size: 1.5em;
  color: white;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.box-content{
  display: none;
  height: 100%;
  grid-template-columns: 47.5% 47.5%;
  grid-template-rows: 100%;
  grid-column-gap: 5%;
  padding: 5%;
  color: white;
  font-size: 1.5em;
  font-family: sans-serif;
}
.box-small:nth-of-type(1){background-color: #21A097;top:0}
.box-small:nth-of-type(2){background-color: #22BFAC;top:0;right:0}
.box-small:nth-of-type(3){background-color: #26CDB1;bottom: 0}
.box-small:nth-of-type(4){background-color: #25DAAB;bottom: 0;right: 0}
.build{
  height: inherit;
  width: 100%;
  display: grid;
  align-content: center;
  text-align: center;
}
.build a{
  color: white;
  text-decoration: none;
  border: 1.5px solid white;
  background: #FDA51D;
  border-radius: 50px;
  padding: 12.5px
}
.build a:hover{
  border: 2px solid #FDA51D;
  box-shadow: 0px 0px 10px 1px white
}
.portfolio{
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  padding: 2%;
  color: #56b6a8;
  background-color: white;
}
/*Contact Page*/
form{
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: fit-content;
  width: fit-content;
  position: absolute;
}
/*input{
  border: 1px solid transparent;
  border-bottom-color: white;
  background: transparent;
  outline: none;
  padding: 2%;
  width: 42.5%;
  margin-left: 5%;
  font-size: 1.5em;
  color: white;
}
textarea{
  border: 1px solid transparent;
  border-bottom-color: white;
  background: transparent;
  padding: 2%;
  height: 40%;
  width: 91%;
  margin-left: 5%;
  font-size: 1.5em;
  color: white;
  outline: none;
}*/
.col1{
  height: 100%;
  width: 50%;
  background-color: inherit;
  justify-content: center;
  align-items: center;
  position: relative;
}
.col1 .back{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #56B6A8;
  opacity: 0.3;
  background-size: cover;
}
.col1 iframe{
  width: 75%;
  height: 50%;
  border-radius: 50px;
}
.col1 .text{
  color: black;
  font-size: 2em;
}
.col1 img{
  height: 100%;
  z-index: 2
}
.col2{
  height: 100%;
  width: 50%;
  color: black;
  background-color: #56B6A8;
  display: flex;
  position: relative;
}
.col2 .text{
  width: 100%
}
.col2 p{
  margin-bottom: 0.5em;
}
input{
  height: 40px;
  padding: 5px 20px;
  font-size: 20px;
  background-color: transparent;
  color: white;
  width: 73%;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  outline: none
}
input:focus{
  border-color: white
}
button:hover{
  background-color: transparent;
  color: black;
  border-color: white;
  background-color: white;
}
