.boxes{
  width: 100%;
  height: 100%;
  position: relative;
}
.box-small{
  width: 50%;
  height: 50%;
  transition: all 500ms;
  position: absolute;
  cursor: pointer;
}
.box-small:hover{
  box-shadow: 0px 0px 30px 3px black;
  z-index: 2
}
.box-content .close{
  position: absolute;
  font-size: 1.5em;
  color: white;
  top: 0;
  right: 0;
  padding: 2%;
  cursor: pointer;
}
.box-text{
  font-size: 1.5em;
  color: white;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.box-content{
  display: none;
  grid-template-columns: 47.5% 47.5%;
  grid-template-rows: 100%;
  grid-column-gap: 5%;
  padding: 5%
}
.box-small:nth-of-type(1){background-color: #21A097;top:0}
.box-small:nth-of-type(2){background-color: #22BFAC;top:0;right:0}
.box-small:nth-of-type(3){background-color: #26CDB1;bottom: 0}
.box-small:nth-of-type(4){background-color: #25DAAB;bottom: 0;right: 0}
